body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #1c2331;
  overflow-x: hidden;
}

/* navbar + footer */

.nav-item {
  font-size:18px;
  text-transform:uppercase;
  height:82px;
  line-height:64px;
}

.logo-font {
  font-family: 'Ubuntu', sans-serif !important;
}

.flare {
  background:#42ef2b;
}
.flare a.nav-link {
  color:#fff !important
}
.topbarElements > div:nth-of-type(1){
  font-size:48px;
  margin:12px 32px;
  color:#42ef2b;
}
@media screen and (min-width:1040px){
  .flare { margin-right:-15px; }
}
@media screen and (max-width:1029px){
  .navbar-nav {
    margin-bottom:15px;
    text-align:center
  }
  .nav-item {
    background : #1c2331 !important;
    margin:2px;
  }
}

.border-orange {
  border-bottom: solid 2px #42ef2b;
  border-top: solid 2px #42ef2b;
}

.bg-black {
  background-color: #1c2331;
}

.text-orange {
  color:#42ef2b;
}

.text-large {
  font-size: xx-large;
}

a {
  text-decoration: none !important;
}

a:hover {
  color:#42ef2b !important;
}

.btn-main:hover {
  color: #42ef2b !important;
}

.btn-green {
  color: #42ef2b !important;
  background-color: #1c2331 !important;
}

.btn-main {
  background-color: #1c2331 !important;
  color: white;
}

.text-bold {
  font-weight: bold;
  font-size: larger;
}

.m-fake {
  margin-top: 300px;
  margin-bottom: 300px;
}

.text-grey {
  color: grey;
}

.front {
  z-index: 100;
}

.front-1 {
  z-index: 99;
}

.front-2 {
  z-index: 98;
}

.hexagon {
  
  color: white;

  background-color: #343a40;
  background-image: url(/assets/media/bg.jpg);
  background-repeat: none;
  background-size: cover;
}


.text-hero {
  font-weight: 900;
  font-size: xx-large;
  letter-spacing: 2px;
}

.fw-light {
  font-weight: lighter !important;
  letter-spacing: 2px;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-larger {
  font-size: larger;
}
.fw-bold {
  font-weight: bolder !important;
}
.bg-white-op {
  background-color: rgb(66, 239, 43, 0.6);
  border-radius: 10px;
}

.hover-white:hover {
  color: white !important;
}

.hover-grey:hover {
  color: #1c2331 !important;
}

.text-decoration-none {
  text-decoration: none !important;
  color: white;
}

.font-large {
  font-size: xx-large !important;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.text-white {
  color: white !important;
}

.font-tiny {
  font-size: x-small !important;
}

.p-0 {
  padding: 0px !important;
}

.hr-green {
  background-color: rgb(66, 239, 43) !important;
  height: 5px !important;
}

.btn-success {
  background-color: #42ef2b !important;
  color: #1c2331 !important;
  border-radius: 30px;
  width: 45%;
}

.btn-success:hover {
  color: white !important;
}

.list-group-item {
  background-color: #42ef2b !important;

}

.text-black {
  color: #1c2331 !important;
}

.text-black:hover {
  color: #1c2331 !important;
}

.icon-large {
  font-size: x-large;
}

/* contact page */

.form-bg {
 background-color: #343a40;
 border: none;
}

.btn-contact {
  background-color: #42ef2b !important;
  color: #343a40;
}